@import "./fonts.css";
@import "./var.css";
@import "./libs/normalize.css";
@import "./libs/common.css";
@import "./components/sitehead.css";
@import "./components/sitehead-banner.css";
@import "./components/services.css";
@import "./components/team.css";

/* @import "./components/masthead.css";
@import "./components/header.css";
@import "./components/section.css";
@import "./components/hero-section.css";
@import "./components/service.css";
@import "./components/team.css";
@import "./components/footer.css";
@import "../css/libs/visually-hidden.css"; */

/* team-section */

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}

.copyright {
  margin: 0;
  font-family: var(--semi-ff);
  font-weight: 400;
  line-height: 1.2;
  color: var(--title-color);
}

.author {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 200ms linear;
}

.author:hover,
.author:focus {
  color: var(--main-color);
  text-decoration: underline;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 378px;
  min-height: 40px;
}

.form-email,
.form-btn {
  outline: none;
}

.form-email {
  flex: 0 0 228px;
  padding: 0 12px;
  border: 1px solid #e7e7e7;
  border-right: none;
}

.form-email::placeholder {
  font-size: var(--semi-fz);
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
}

.form-btn {
  flex: 0 0 150px;
  padding: 0;
  font-family: var(--semi-ff);
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--accent-color);
}
