@import "./fonts.css";
@import "./var.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-ff);
  font-size: var(--main-fz);
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header navigation */

.sitehead-wrapper {
  background-image: url("../img/eagle-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sitehead {
  margin-bottom: 48px;
  padding: 28px 0 230px;
  background: var(--gradient);
}

.site-header {
  /* padding: 21px 0 112px; */
  margin-bottom: 112px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-logo {
  margin: 0 0 0 2px;
}

.site-logo__link {
  display: block;
  font-family: var(--semi-ff);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}

.site-logo__link:link,
.site-logo__link:visited,
.site-logo__link:active {
  color: #fff;
}

.site-nav {
  display: flex;
  padding-bottom: 3px;
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 618px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  position: relative;
  display: block;
  font-family: var(--semi-ff);
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.site-nav__link::after {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 3px;
  margin-top: 9px;
  background-color: var(--hallmark-color);
}

.shopping-btn,
.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  /* width: 32px;
  height: 32px; */
}

.shopping-btn__img,
.search-btn__img {
  display: block;
  fill: #fff;
}

.shopping-btn__img {
  width: 18px;
  height: 15px;
}

.search-btn__img {
  width: 18px;
  height: 18px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--hallmark-color);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  display: block;
}

/* banner-section   */

.site-banner {
  text-align: center;
}

.site-banner__title,
.site-banner__pretitle {
  color: #fff;
}

.site-banner__title {
  margin: 0 0 120px;
  font-family: var(--semi-ff);
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
}

.site-banner__pretitle {
  font-family: var(--title-ff);
  font-size: 72px;
  line-height: 1.2;
  text-transform: none;
}

.site-banner__pretitle,
.site-banner__block {
  display: block;
}

.site-banner__btn {
  display: inline-block;
  padding: 14px 32px;
  font-family: var(--semi-ff);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fff;
  transition: all 200ms linear;
}

.site-banner__btn:hover,
.site-banner__btn:focus {
  color: var(--hallmark-color);
  border: 3px solid var(--hallmark-color);
}

/* services-section */

.services {
  margin-bottom: 90px;
}

.services-title,
.services-subtitle,
.team-title,
.team-subtitle {
  margin: 0;
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
}

.services-title,
.team-title {
  padding-bottom: 63px;
  font-family: var(--title-ff);
  font-size: 24px;
  font-weight: 400;
}

.services-subtitle,
.team-subtitle {
  display: block;
  padding-top: 12px;
  font-family: var(--semi-ff);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-subtitle::after,
.team-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 34px auto 0;
  background-color: var(--accent-color);
}

.services-item__title,
.services-item__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.services-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 380px;
  list-style: none;
}

.services-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.icon-clock::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-alarm-view");
}

.icon-graph::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-lineGraph-view");
}

.icon-pc::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-computer-view");
}

.icon-book::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-book-view");
}

.icon-house::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-home-view");
}

.icon-square::before {
  background-image: url("../img/icons/icons-sprite.svg#icon-square-view");
}

.services-item:nth-child(-n + 3) {
  margin-bottom: 95px;
}

.services-item__title {
  padding-bottom: 10px;
  font-family: var(--semi-ff);
  line-height: 1.2;
  color: var(--title-color);
  text-transform: uppercase;
}

.services-item__text {
  font-size: var(--semi-fz);
  line-height: 24px;
  color: var(--text-color);
}

.services-item__title,
.services-item__text {
  padding-left: 80px;
}

/* team-section */

.team {
  padding-bottom: 80px;
}

.team-title {
  padding-bottom: 40px;
}

.team-describe {
  width: 980px;
  margin: 0 auto 88px;
  font-size: var(--semi-fz);
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.team-list__item {
  list-style: none;
}

.team-list__item:hover .team-img {
  transform: translate(-10px, -10px);
}

.team-list__item:hover .img-overlay {
  display: block;
}

.team-name,
.team-occupation {
  padding: 0;
  margin: 0;
}

.team-wrapper {
  position: relative;
  margin-bottom: 28px;
  background-color: var(--main-color);
}
.team-img {
  transition: all 200ms linear;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background: var(--gradient);
}

.social-list__item {
  list-style: none;
}

.social-list__item:not(:last-child) {
  margin-right: 1px;
}

.list-item__link {
  display: block;
  padding: 15px;
  background-color: #fce38a;
  outline: none;
  transition: all 200ms linear;
}

.list-item__link:hover,
.list-item__link:focus {
  background-color: var(--accent-color);
}

.list-item__link::after {
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-facebook-view");
}

.icon-twitter::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-twitter-view");
}

.icon-pinterest::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-pinterest-view");
}

.icon-instagram::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-instagram-view");
}

.social-list__item:hover .icon-facebook::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-facebook--white-view");
}

.social-list__item:hover .icon-twitter::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-twitter--white-view");
}

.social-list__item:hover .icon-pinterest::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-pinterest--white-view");
}

.social-list__item:hover .icon-instagram::after {
  background-image: url("../img/icons/icons-sprite.svg#icon-instagram--white-view");
}

.team-name {
  margin-bottom: 11px;
  font-family: var(--semi-ff);
  font-weight: 400;
  line-height: 1.2;
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}

.team-occupation {
  font-size: var(--semi-fz);
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: var(--text-color);
  text-align: center;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}

.copyright {
  margin: 0;
  font-family: var(--semi-ff);
  font-weight: 400;
  line-height: 1.2;
  color: var(--title-color);
}

.author {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 200ms linear;
}

.author:hover,
.author:focus {
  color: var(--main-color);
  text-decoration: underline;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 378px;
  min-height: 40px;
}

.form-email,
.form-btn {
  outline: none;
}

.form-email {
  flex: 0 0 228px;
  padding: 0 12px;
  border: 1px solid #e7e7e7;
  border-right: none;
}

.form-email::placeholder {
  font-size: var(--semi-fz);
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
}

.form-btn {
  flex: 0 0 150px;
  padding: 0;
  font-family: var(--semi-ff);
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--accent-color);
}
