html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #555252;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

/* header navigation */
.header {
  padding: 37px 0 104px 0;
}

.logo {
  display: inline-block;
  margin: 0;
}

.logo-link {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 32px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-link::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.logo-link:link,
.logo-link:visited,
.logo-link:active {
  color: #555252;
}

.nav-list {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  float: left;
}

.nav-item:not(:last-child) {
  margin-right: 34px;
}

.nav-link {
  display: block;
  font-weight: 700;
  line-height: 11px;
  color: #0f0101;
  letter-spacing: -0.02em;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: #1abc9c;
  transition-duration: 0.3s;
}

/* main products */

.sections-title,
.news-article-title {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.sections-title {
  margin-bottom: 92px;
  color: #515151;
}

.sections-title::after,
.news-article-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  margin: 32px auto 0;
  background-color: #1abc9c;
}

.products {
  margin-bottom: 105px;
}

.products-list {
  padding: 0;
  margin: 0;
}
.products-item {
  float: left;
  width: 255px;
  list-style: none;
  background-color: #e9f0fd;
}

.products-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.products-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.products-item:hover .products-name {
  background-color: #1abc9c;
  transition-duration: 0.3s;
}

.products-item:hover .products-price {
  background-color: #7fd9c7;
  transition-duration: 0.3s;
}

.products-name,
.products-price {
  height: 40px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-name {
  float: left;
  width: 201px;
  padding-left: 14px;
  line-height: 40px;
  color: #fff;
  background-color: #323232;
}

.products-price {
  float: right;
  width: 54px;
  padding: 4px 12px;
  line-height: 32px;
  background-color: #8c8c8c;
}

/* news */

.news {
  margin-bottom: 82px;
}

.news-article-title {
  padding-bottom: 80px;
}

.news-list {
  margin: 0;
  padding: 0;
}

.news-item {
  float: left;
  width: 350px;
  list-style: none;
}

.news-item:not(:last-child) {
  margin-right: 30px;
}

.news-img {
  padding-bottom: 8px;
}

.news-title,
.news-description {
  margin: 0;
}

.news-title {
  padding-bottom: 21px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.news-title::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  margin-top: 10px;
  background-color: #4ec6ab;
}

.news-description {
  padding-bottom: 11px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.news-button {
  display: inline-block;
  padding: 16px 40px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  background-color: #4ec6ab;
  border-radius: 3px;
}

.news-button:hover,
.news-button:focus {
  background-color: #18e0b3;
  transition-duration: 0.3s;
}
