.footer {
  @include flex-direction('sb-center');
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}

.footer__copyright {
  font-family: $semi-ff;
  font-weight: 400;
  line-height: 1.2;
  color: $title-color;
}

.footer__author {
  color: $accent-color;
  text-decoration: none;
  transition: color 200ms linear;

  &:hover,
  &:focus {
    color: $main-color;
    text-decoration: underline;
  }
}
