%text {
  line-height: 1.2;
  text-decoration: none;
}

%link {
  list-style: none;
  text-decoration: none;
}

%button {
  border: none;
  cursor: pointer;
}

%title {
  line-height: 1.2;
  text-align: center;
}
