$main-ff: 'RobotoLight', 'Arial', sans-serif;
$semi-ff: 'MontserratBold', 'Arial', sans-serif;
$title-ff: 'Kaushan Script', cursive;
$main-fz: 14px;
$semi-fz: 15px;
$main-color: #95e1d3;
$hallmark-color: #fce38a;
$accent-color: #f38181;
$title-color: #333;
$text-color: #999;
$light-color: #fff;
$gradient: linear-gradient(
  to top,
  rgba(251, 226, 135, 0.9),
  rgba(243, 129, 129, 0.9)
);
